body {
  margin: 5%;
  font-family: "Open Sans";
  background-color: #F2F2F2;
} 

.page-title {
  background-color: #333333;
  color: #FFF;
  padding: 10px;
  font-weight: bold;
  padding-left: 30px;
  font-size: 20px;
}

.page-body {
  max-width: 1000px;
  margin: auto;
}

.img {
  width: 100%;
}

.landing-page {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

#welcome {
  font-size: 40px;
  font-weight: bold;
  max-width: 300px;
  color: #333333;
}

#which-activity {
  order: 3;
}

.activity-box {
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#past-activity-box-button {
  background-color: #53E0CD;
}

#next-activity-box-button {
  background-color: #B1BAB9;
}

#next-activity-box-form {
  background-color: #B1BAB9;
  display: none;
}

.enter-button {
  background-color: #FFF;
  padding: 10px;
  box-shadow: 1px 1px;
  color: #333333;
  border-radius: 25px;
}

.submit-button {
  background-color: #333333;
  padding: 10px;
  box-shadow: 1px 1px;
  color: #FFF;
  border-radius: 25px;
}


