body {
  margin: 5%;
  font-family: "Open Sans";
  background-color: #F2F2F2;
} 

.page-title {
  background-color: #333333;
  color: #FFF;
  padding: 10px;
  font-weight: bold;
  padding-left: 30px;
  font-size: 20px;
}

.page-body {
  max-width: 1000px;
  margin: auto;
}

.img {
  width: 100%;
}

.landing-page {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap;
}

#welcome {
  font-size: 40px;
  font-weight: bold;
  color: #333333;
  flex-grow: 1;
}

#picture-container {
  flex-grow: 2;
}

#which-activity {
  order: 3;
}

.activity-box {
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.form-div {
  max-width: 200px;
  margin: 20px;
}

#past-activity-box-button {
  background-color: #53E0CD;
}

#next-activity-box-button {
  background-color: #B1BAB9;
}

#next-activity-box-form {
  background-color: #B1BAB9;
  display: none;
}

#past-activity-box-form {
  background-color: #53E0CD;
  display: none;
}

#recorded-future-activity {
  background-color: #B1BAB9;
  display: none;
  text-align: center;
}

#recorded-past-activity {
  background-color: #53E0CD;
  display: none;
  text-align: center;
}

.enter-button {
  background-color: #FFF;
  padding: 10px;
  box-shadow: 1px 1px;
  color: #333333;
  border-radius: 25px;
  text-align: center;
}

.submit-button {
  background-color: #333333;
  padding: 10px;
  box-shadow: 1px 1px;
  color: #FFF;
  border-radius: 25px;
}

#which-activity {
  margin-bottom: 50px;
}

@media screen and (max-width: 627px) {
  img {
    width: 200px;
  }
  .form-div {
    margin: 10px;
    max-width: 100px;
  }
  input {
    max-width: 100px;
  }
  select {
    max-width: 100px;
  }

}

button {
  max-width: 160px;
  padding: 20px;
}

.past-activity {
  font-weight: bold;
}

.next-activity {
  font-weight: bold;
}